<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="js/common.js" type="text/javascript"></script>
<script src="js/home.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

</head>
<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav">
		<a class="navbar-brand" href="todolist">ToDoController</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/todolist">HOME<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/summary">SUMMARY<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">LOGOUT<span class="sr-only">(current)</span></a></li>
			</ul>
			<form id="searchByDateForm" class="search-by-date-form" th:object="${formModel}">
				<label class="nav-item" for="date">DATE：</label>
				<input class="date" type="date" name="scheduleDate" id="searchedDate" th:value="${scheduleDate}" />
				<input class="search-by-date nav-item btn btn-default" id="searchBtn" type="submit" value="SEARCH" />
			</form>
			<a class="search-by-date search-all nav-item btn btn-default" href="/todolist">RESET<span class="sr-only">(current)</span></a>
		</div>
	</nav>
	<!-- ERRORMESSAGES -->
	<div class="text-center text-danger" th:each="errorMessage : ${errorMessages}">
		<input id="errorMessage" type="hidden" th:value="${errorMessage}">
	</div>
	<!-- MAIN -->
	<div class="container">
		<!-- ADD ZONE -->
		<div class="main row">
			<!-- ADD TODO ZONE -->
			<div class="card col-md-4 mx-auto" id="add-todo">
				<button type="button" class="btn btn-outline-dark" id="cancel-btn-from-todo" onclick="location.href=''">+</button>
				<article class="card-body">
					<h5 class="card-title text-center mb-4 mt-1">新規追加</h5>
					<form th:object="${formModel}" id="addTodo">
						<div class="form-group">
							<div class="input-group">
								<input id="scheduleDate" name="scheduleDate" class="form-control today" type="date" th:value="${scheduleDate}">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<select class="form-control" name="genreId" id="category" th:value="${genreId}">
									<option value="" id="selectcategory" selected disabled>カテゴリー選択</option>
									<th:block th:each="genre : ${genres}">
										<option th:value="${genre.id}" th:text="${genre.name}" th:selected="${genre eq genres}" />
									</th:block>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<input id="text" name="text" class="form-control" placeholder="TODO記入欄" type="text" th:value="${text}">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<input id="idealTime" name="idealTime" class="form-control" placeholder="想定時間 [実数のみ]" type="text" th:value="${idealTime}">
							</div>
						</div>
						<div class="form-group col-md-8 mx-auto">
							<button id="addTodoBtn" type="button" class="btn btn-primary btn-block">TODO追加</button>
						</div>
					</form>
					<!-- ADDCATEGORYFORMの表示ボタン -->
					<div class="form-group col-sm-8 mx-auto">
						<button type="button" class="btn btn-primary btn-block" onclick="location.href='#add-category'">カテゴリー追加</button>
					</div>
				</article>
			</div>
			<!-- CATEGORY ZONE -->
			<div class="card shadow col-md-8 row" id="add-category">
				<article class="row">
					<!-- ADD CATEGORY -->
					<div class="card col-md-5">
						<button type="button" class="btn" id="cancel-btn-from-category-disabled" disabled></button>
						<table class="table table-condensed table-sm">
							<thead>
								<tr>
									<th class="card-title mb-4 mt-1 align-middle text-center">
										<span>カテゴリー追加</span>
									</th>
								</tr>
							</thead>
						</table>
						<form id="addCategory" th:object="${formModel}">
							<div class="form-group">
								<div class="input-group">
									<input id="newCategory" name="name" class="form-control" placeholder="カテゴリー記入欄" type="text" th:value="${name}">
								</div>
							</div>
							<div class="form-group col-md-8 mx-auto">
								<button id="addCategoryBtn" type="button" class="btn btn-primary btn-block">追加</button>
							</div>
						</form>
					</div>
					<!-- SHOW CATEGORY -->
					<div class="card col-md-7">
						<button type="button" class="btn btn-outline-dark" id="cancel-btn-from-category" onclick="location.href='#add-todo'">+</button>
						<table class="table table-condensed table-sm">
							<thead>
								<tr>
									<th class="align-middle text-center">カテゴリー一覧</th>
									<th id="table-btn"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="genre : ${genres}">
									<td class="align-middle" th:text="${genre.name}" />
									<td>
										<form th:action="@{/category/delete/{id}(id=${genre.id})}" th:method="delete" th:object="${formModel}">
											<input type="hidden" th:value="${genre.id}" name="genreId"/>
											<input type="submit" id="start-end-btn" class="btn btn-outline-secondary" value="削除" onclick="return confirm('削除してよろしいですか？')"/>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</div>

		<!-- MAIN ZONE -->
		<div class="main row">
			<!-- SHOWFORM -->
			<div class="card col-md-10 mx-auto">
				<article class="card-body">
					<h5 class="card-title text-center mb-4 mt-1">
						<span th:text="${loginUser.name}"></span>
						<!-- 本日の日付入れたい -->
						<span>の ToDo</span>
					</h5>
					<table class="table table-condensed table-sm">
						<thead>
							<tr>
								<th class="align-middle">実施予定日</th>
								<th id="todo-text" class="align-middle">ToDo</th>
								<th class="align-middle">カテゴリー</th>
								<th class="text-center align-middle">想定</th>
								<th class="text-center align-middle">実績</th>
								<th colspan="2" id="table-btn"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="todoCategory : ${todoCategories}">
								<td class="align-middle">
									<span th:text="${todoCategory.scheduleDate}"></span>
								</td>
								<td class="align-middle">
									<input type="hidden" name="id" id="todoCategoryId" th:value="${todoCategory.id}" />
									<a class="text-body todoText"><span th:text="${todoCategory.text}"></span><img class="edit-icon" src="icons/edit.svg"></a>
								</td>
								<td class="align-middle" th:text="${todoCategory.categoryName}" />
								<td class="text-center align-middle" th:text="${todoCategory.idealTime + 'H'}" />
								<td class="align-middle">
									<div th:if="${(todoCategory.startTime == null) && (todoCategory.actualTime == null)}" class="text-center">
									-
									</div>
									<div th:if="${(todoCategory.startTime != null) && (todoCategory.actualTime == null)}" class="text-center">
									<!-- 残り時間を表示したい
									<form action="#" name="form1">
										<input type="hidden" id="startTime" th:text="${todoCategory.startTime}" />
										<input type="text" name="field1" size="8">
									</form>
									-->
									-
									</div>
									<div th:if="${todoCategory.actualTime != null}" class="text-center">
										<span th:text="${todoCategory.actualTime + 'H'}"></span>
									</div>
								</td>
								<td id="change-btn" class="align-middle">
									<!-- 完了 -->
									<div th:if="${(todoCategory.actualTime != null) && (todoCategory.startTime != null)}">
										<input type="hidden" name="id" id="todoCategoryId" th:value="${todoCategory.id}" />
										<input type="button" id="start-end-btn" class="btn btn-secondary" value="完了" disabled/>
									</div>
									<!-- 開始前 -->
									<div th:if="${todoCategory.startTime == null}">
										<form th:method="put" th:action="@{/todo/start/{id}(id=${todoCategory.id})}">
											<input type="hidden" name="id" th:value="${todoCategory.id}" />
											<input type="submit" id="start-end-btn" class="btn btn-outline-primary" value="開始" />
										</form>
									</div>
									<!-- 開始後 -->
									<div th:if="${(todoCategory.actualTime == null) && (todoCategory.startTime != null)}">
										<form th:method="put" th:action="@{/todo/end/{id}(id=${todoCategory.id})}">
											<input type="hidden" name="id" value="${todoCategory.id}" />
											<input type="submit" class="btn btn-outline-danger" value="終了">
										</form>
									</div>
								</td>
								<td class="align-middle">
									<!-- 完了 -->
									<div th:if="${(todoCategory.actualTime != null) && (todoCategory.startTime != null)}">
										<form th:method="delete" th:action="@{/todo/delete/{id}(id=${todoCategory.id})}">
											<input type="hidden" name="id" th:value="${todoCategory.id}" />
											<input type="submit" id="start-end-btn" class="btn btn-outline-secondary" value="削除" onclick="return confirm('削除してよろしいですか？')"/>
										</form>
									</div>
									<!-- 開始前 -->
									<div th:if="${todoCategory.startTime == null}">
										<form th:method="delete" th:action="@{/todo/delete/{id}(id=${todoCategory.id})}">
											<input type="hidden" name="id" th:value="${todoCategory.id}" />
											<input type="submit" id="start-end-btn" class="btn btn-outline-secondary" value="削除" onclick="return confirm('削除してよろしいですか？')"/>
										</form>
									</div>
									<!-- 開始後 -->
									<div th:if="${(todoCategory.actualTime == null) && (todoCategory.startTime != null)}">
										<form th:method="put" th:action="@{/todo/quit/{id}(id=${todoCategory.id})}">
											<input type="hidden" name="id" value="${todoCategory.id}" />
											<input type="submit" class="btn btn-outline-warning" value="中止">
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- ADDCATEGORYFORMの表示ボタン -->
					<div class="form-group col-sm-8 mx-auto">
						<button type="submit" class="btn btn-primary btn-block" onclick="location.href='#add-todo'">新規追加</button>
					</div>
				</article>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
	<div class="px-3 mt-5 text-muted text-center copyright">Copyright©RyuseiKoizumi</div>
</body>
</html>