<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
<style>
.container {
	margin-top: 2%;
}

.main {
	margin-top: 10px;
}

table th {
	height: 40px;
	font-size: 18px;
}

h5 {
	font-weight: bold;
	font-size: 2rem;
}

#selectcategory {
	display: none;
	color: #8e8c84;
	opacity: 1;
}

#cancel-btn {
	position: relative;
	font-size: 90%;
	top: 5%;
	left: 95%;
	padding: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 15px;
	transform: rotate(45deg);
}

#todo-text {
	width: 45%;
}

#table-btn {
	width: 10%;
}

#add-btn {
	margin: auto;
}

#header-nav {
	z-index: 20;
}

#add-category {
	position: absolute;
	height: 400px;
	padding: auto;
	top: -300%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	transition-duration: .5s;
}

#add-category:target {
	top: 10%;
	bottom: 100px;
	z-index: 10;
}

#add-todo {
	position: absolute;
	padding: auto;
	top: -300%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	transition-duration: .5s;
}

#add-todo:target {
	top: 10%;
	bottom: 100px;
	z-index: 10;
}

#category-add-title {
	font-size: 20px;
}

.btn {
	padding-top: 4px;
	padding-bottom: 4px;
}

.login-form {
	top: 45px;
	max-width: 300px;
	min-width: 120px;
	margin-right: auto;
	margin-left: auto;
}

.login-button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.search-by-date {
	margin-top: 5px;
	color: rgba(0, 0, 0, .5);
}

.date-nav {
	font-size: 1rem;
}

.date-zone {
	border: solid 1px rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5);
	font-size: 1rem;
	max-width: 138px;
}

.date-search-btn {
	border: none;
	color: rgba(0, 0, 0, .5);
	background: none;
}

.date-search-btn:hover {
	color: rgba(0, 0, 0, .9);
}

.signup-form {
	top: 45px;
	max-width: 300px;
	min-width: 120px;
	margin-right: auto;
	margin-left: auto;
}

.signup-button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home">ToDoController</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<!-- ERRORMESSAGES -->
	<div class="text-center text-danger" th:each="errorMessage : ${errorMessages}">
		<input id="errorMessage" type="hidden" th:value="${errorMessage}">
	</div>
	<!-- LOGINFORM -->
	<div class="card login-form">
		<article class="card-body">
			<h4 class="card-title text-center mb-4 mt-1">ログイン</h4>
			<form th:object="${formModel}" id="loginForm">
				<div class="form-group">
					<div class="input-group">
						<input id="account" name="account" class="form-control" placeholder="アカウント" type="text" th:value="${account}">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="password" name="password" class="form-control" placeholder="パスワード" type="password">
					</div>
				</div>
				<div class="form-group">
					<button type="button" id="loginBtn" class="btn btn-primary btn-block login-button">ログイン</button>
				</div>
				<p class="text-center">
					<a href="/signup" class="btn text-primary">新規登録</a>
				</p>
			</form>
		</article>
	</div>
	<!-- FOOTER -->
	<div class="px-3 mt-5 text-muted text-center copyright">Copyright©RyuseiKoizumi</div>
</body>
<script>
const errorMessage = document.getElementById('errorMessage')
const form = document.getElementById('loginForm')
const btn = document.getElementById('loginBtn')
const valNull = null
var errors = []

if (errorMessage != valNull) {
	alert(errorMessage.value)
}

function validate() {
	let account = document.getElementById('account').value
	let password = document.getElementById('password').value
	if (!account.match(/\S/g)){
		errors.push('アカウントを入力してください。')
	} else if (!password.match(/\S/g)){
		errors.push('パスワードを入力してください。')
	}
}

btn.addEventListener("click", () => {
	validate()
	if(errors.length > 0) {
		alert(errors)
		this.errors = []
	} else {
		form.action = "/login"
		form.method = "post"
		form.submit();
	}
})
</script>
</html>