<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
<style>
.container {
	margin-top: 2%;
}

.main {
	margin-top: 10px;
}

table th {
	height: 40px;
	font-size: 18px;
}

h5 {
	font-weight: bold;
	font-size: 2rem;
}

#selectcategory {
	display: none;
	color: #8e8c84;
	opacity: 1;
}

#cancel-btn {
	position: relative;
	font-size: 90%;
	top: 5%;
	left: 95%;
	padding: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 15px;
	transform: rotate(45deg);
}

#todo-text {
	width: 45%;
}

#table-btn {
	width: 10%;
}

#add-btn {
	margin: auto;
}

#header-nav {
	z-index: 20;
}

#add-category {
	position: absolute;
	height: 400px;
	padding: auto;
	top: -300%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	transition-duration: .5s;
}

#add-category:target {
	top: 10%;
	bottom: 100px;
	z-index: 10;
}

#add-todo {
	position: absolute;
	padding: auto;
	top: -300%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	transition-duration: .5s;
}

#add-todo:target {
	top: 10%;
	bottom: 100px;
	z-index: 10;
}

#category-add-title {
	font-size: 20px;
}

.btn {
	padding-top: 4px;
	padding-bottom: 4px;
}

.login-form {
	top: 45px;
	max-width: 300px;
	min-width: 120px;
	margin-right: auto;
	margin-left: auto;
}

.login-button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.search-by-date {
	margin-top: 5px;
	color: rgba(0, 0, 0, .5);
}

.date-nav {
	font-size: 1rem;
}

.date-zone {
	border: solid 1px rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5);
	font-size: 1rem;
	max-width: 138px;
}

.date-search-btn {
	border: none;
	color: rgba(0, 0, 0, .5);
	background: none;
}

.date-search-btn:hover {
	color: rgba(0, 0, 0, .9);
}

.signup-form {
	top: 45px;
	max-width: 300px;
	min-width: 120px;
	margin-right: auto;
	margin-left: auto;
}

.signup-button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/login">ToDoController</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<!-- ERRORMESSAGES -->
	<div class="text-center text-danger" th:each="errorMessage : ${errorMessages}">
		<input type="hidden" id="errorMessage" th:value="${errorMessage}" />
	</div>
	<!-- SIGNUPFORM -->
	<div class="card signup-form">
		<article class="card-body">
			<h4 class="card-title text-center mb-4 mt-1">新規アカウント作成</h4>
			<form id="signupForm" th:object="${formModel}">
				<div class="form-group">
					<div class="input-group">
						<input id="account" name="account" class="form-control" placeholder="アカウント"
							type="text" th:value="${account}" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="name" name="name" class="form-control" placeholder="名前"
							type="text" th:value="${name}" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="password" name="password" class="form-control" placeholder="パスワード"
							type="password" th:value="${password}" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="check-password" name="check-password" class="form-control" placeholder="確認用パスワード"
							type="password" required min="6">
					</div>
				</div>
				<div class="form-group">
					<button id="signupBtn" type="button"
						class="btn btn-primary btn-block signup-button">登録</button>
				</div>
				<p class="text-center">
					<a href="/login" class="btn text-primary">ログイン</a>
				</p>
			</form>
		</article>
	</div>
	<!-- FOOTER -->
	<div class="px-3 mt-5 text-muted text-center copyright">Copyright©RyuseiKoizumi</div>

<script>
const errorMessage = document.getElementById('errorMessage')
const form = document.getElementById('signupForm')
const btn = document.getElementById('signupBtn')
const valNull = null
var errors = []

if (errorMessage != valNull) {
	alert(errorMessage.value)
}

function validated() {
	let account = document.getElementById('account').value
	let name = document.getElementById('name').value
	let password = document.getElementById('password').value
	let checkPassword = document.getElementById('check-password').value
	if (!account.match(/\S/g)){
		errors.push('アカウントの入力内容が不正です。')
	} else if (!password.match(/\S/g)){
		errors.push('パスワードの入力内容が不正です。')
	} else if (!password.match(/^([a-zA-Z0-9]{6,})$/)) {
		errors.push('パスワードは6字以上で入力してください。')
	} else if (!name.match(/\S/g)){
		errors.push('名前の入力内容が不正です。')
	} else if (password != checkPassword){
		errors.push('パスワードと確認用パスワードが一致していません。')
	}
}

btn.addEventListener("click", () => {
	validated()
	if(errors.length > 0) {
		alert(errors)
		this.errors = []
	} else {
		form.action="/signup"
		form.method="post"
		form.submit();
	}
})
</script>

</body>
</html>