<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="js/common.js" type="text/javascript"></script>
<script src="js/summary.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
</head>
<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav">
		<a class="navbar-brand" href="todolist">ToDoController</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/todolist">HOME<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/summary">SUMMARY<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">LOGOUT<span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</nav>

	<!-- MAIN -->
	<div class="container">
		<div class="main row">
			<!-- SHOWFORM -->
			<div class="card col-md-10 mx-auto">
				<article class="card-body">
					<h5 class="card-title text-center mb-4 mt-1">
						<span th:text="${loginUser.name}"></span>
						<!-- 本日の日付入れたい -->
						<span>の サマリー</span>
					</h5>

					<table class="tbl table table-condensed table-sm sort-tab" id="fav-table">
						<thead>
							<tr>
								<th class="align-middle">実施予定日</th>
								<th class="align-middle" id="todo-text">ToDo</th>
								<th class="align-middle">カテゴリー</th>
								<th class="text-center align-middle">想定</th>
								<th class="text-center align-middle">実績</th>
								<th class="text-center align-middle">差</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</article>
			</div>

		</div>
	</div>

	<!-- FOOTER -->
	<div class="px-3 mt-5 text-muted text-center copyright">Copyright©RyuseiKoizumi</div>
</body>
</html>